@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR:wght@300&display=swap');

body, p, input, .navbar .nav-item .nav-link .dropdown-menu .dropdown-item .card-title{
	font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3, h4{
	font-family: 'Gugi', cursive;
}
h5{
	font-family: 'Gugi', cursive;
	font-size: 18px;	
}
